In [62]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

# Table of Contents
* [Data wrangling](#chapter1)
    * [Dataframes](#section_1_1)
    * [Data filters](#section_1_2)
    * [Help functions](#section_1_3)
* [Visualisation tools](#chapter2)
    * [Stack plot 2.1](#section_2_1)
    * [Proportion of breaches 2.1.1](#sub_section_2_1_1)
    * [Map of England 2.1.2](#sub_section_2_1_2)

 # Data wrangling <a class="anchor" id="chapter1"></a>

# Dataframes <a class="anchor" id="section_1_1"></a>

 get_provider_data produces a dataframe on cancer diagnosis referalls and treatment referalls by providers e.g. NHS trusts.

In [63]:
from data_wrangling import get_provider_data

In [64]:
df_provider = get_provider_data()

In [65]:
df_provider.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 103185 entries, 2022-04-01 to 2023-03-01
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   standard            103185 non-null  category
 1   org_code            103185 non-null  category
 2   stage_or_route      103185 non-null  category
 3   treatment_modality  103185 non-null  category
 4   cancer_type         103185 non-null  category
 5   total               103185 non-null  int32
 6   within_standard     103185 non-null  int32
 7   breaches            103185 non-null  int32
dtypes: category(5), int32(3)
memory usage: 2.6 MB

In [66]:
df_provider.tail()

,standard,org_code,stage_or_route,treatment_modality,cancer_type,total,within_standard,breaches
month,,,,,,,,
2023-03-01,62-day Combined,RWD,urgent_suspected_cancer,surgery,All_Cancers,83,53,30
2023-03-01,62-day Combined,RWP,urgent_suspected_cancer,surgery,All_Cancers,116,70,46
2023-03-01,62-day Combined,RXN,urgent_suspected_cancer,surgery,All_Cancers,73,27,46
2023-03-01,62-day Combined,RXW,urgent_suspected_cancer,surgery,All_Cancers,103,65,37
2023-03-01,62-day Combined,RY2,urgent_suspected_cancer,surgery,All_Cancers,12,8,4

get_national_28_day_standard, get_national_31_day_standard and get_national_61_day_standard 
create a dataframe from data on cancer diagnosis and treatment referalls on a national level. 
These could be appended to the provider dataframe.

In [20]:
from data_wrangling import get_national_28_day_standard
from data_wrangling import get_national_31_day_standard
from data_wrangling import get_national_62_day_standard

In [67]:
df_nat_fds = get_national_28_day_standard()

In [68]:
df_nat_fds.head()

,total,within_standard,breaches,org_code,standard,cancer_type,treatment_modality,stage_or_route
month,,,,,,,,
2021-04-01,211835,154535,57300,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data
2021-05-01,210267,156199,54068,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data
2021-06-01,233181,170194,62987,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data
2021-07-01,222389,164461,57928,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data
2021-08-01,208788,151470,57318,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data

In [69]:
df_provider_nat = df_provider._append(get_national_28_day_standard())

In [70]:
df_provider_nat.tail()

,standard,org_code,stage_or_route,treatment_modality,cancer_type,total,within_standard,breaches
month,,,,,,,,
2023-06-01,28-day FDS,NAT,not_applicable_national_data,not_applicable_FDS,all_national_data,259629,190807,68822
2023-07-01,28-day FDS,NAT,not_applicable_national_data,not_applicable_FDS,all_national_data,252133,186879,65254
2023-08-01,28-day FDS,NAT,not_applicable_national_data,not_applicable_FDS,all_national_data,264533,189443,75090
2023-09-01,28-day FDS,NAT,not_applicable_national_data,not_applicable_FDS,all_national_data,258858,180534,78324
2023-10-01,28-day FDS,NAT,not_applicable_national_data,not_applicable_FDS,all_national_data,271402,192880,78522

In [71]:
df_nat_dtt = get_national_31_day_standard()

In [72]:
df_nat_dtt.head()

,total,within_standard,breaches,org_code,standard,cancer_type,treatment_modality,stage_or_route
month,,,,,,,,
2022-04-01,45336,41965,3371,NAT,31-day Combined,all_national_data,not_applicable_national_data,not_applicable_national_data
2022-05-01,51800,47598,4202,NAT,31-day Combined,all_national_data,not_applicable_national_data,not_applicable_national_data
2022-06-01,48362,44337,4025,NAT,31-day Combined,all_national_data,not_applicable_national_data,not_applicable_national_data
2022-07-01,48195,44649,3546,NAT,31-day Combined,all_national_data,not_applicable_national_data,not_applicable_national_data
2022-08-01,50877,46668,4209,NAT,31-day Combined,all_national_data,not_applicable_national_data,not_applicable_national_data

In [73]:
df_nat_rtt = get_national_62_day_standard()

In [75]:
df_nat_rtt.head()

,total,within_standard,breaches,org_code,standard,cancer_type,treatment_modality,stage_or_route
month,,,,,,,,
2022-04-01,19489,13456,6033,NAT,62-day Combined,all_national_data,not_applicable_national_data,not_applicable_national_data
2022-05-01,22696,14859,7837,NAT,62-day Combined,all_national_data,not_applicable_national_data,not_applicable_national_data
2022-06-01,21136,13539,7597,NAT,62-day Combined,all_national_data,not_applicable_national_data,not_applicable_national_data
2022-07-01,21289,13980,7309,NAT,62-day Combined,all_national_data,not_applicable_national_data,not_applicable_national_data
2022-08-01,22610,14760,7850,NAT,62-day Combined,all_national_data,not_applicable_national_data,not_applicable_national_data

In [ ]:
# Data filters <a class="anchor" id="section_1_2"></a>

To select particular patient groups within any dataframe our filter functions can be used. 
The following filter functions are available select_months, select_org, select_cancer, 
select_standard, select_treatment_modality, select_stage_or_route, filter_data.

In [84]:
from data_wrangling import select_months, select_org, select_cancer, select_standard
from data_wrangling import select_treatment_modality, select_stage_or_route, filter_data

In [85]:
df_provider.head()

,standard,org_code,stage_or_route,treatment_modality,cancer_type,total,within_standard,breaches
month,,,,,,,,
2022-04-01,28-day FDS,R1K,breast_symptom_non_cancer,not_applicable_FDS,Unsuspected_breast_ca,262,255,7
2022-04-01,28-day FDS,R0A,breast_symptom_non_cancer,not_applicable_FDS,Unsuspected_breast_ca,382,144,238
2022-04-01,28-day FDS,R0D,breast_symptom_non_cancer,not_applicable_FDS,Unsuspected_breast_ca,3,2,1
2022-04-01,28-day FDS,R1F,breast_symptom_non_cancer,not_applicable_FDS,Unsuspected_breast_ca,66,63,3
2022-04-01,28-day FDS,RAS,breast_symptom_non_cancer,not_applicable_FDS,Unsuspected_breast_ca,81,78,3

For example select_org is used on the provider dataset to filter by organisation.

In [86]:
df_provider_r1k_r0A = select_org(df_provider, ['R1K', 'R0A'])

In [87]:
df_provider_r1k_r0A.head()

,standard,org_code,stage_or_route,treatment_modality,cancer_type,total,within_standard,breaches
month,,,,,,,,
2022-04-01,28-day FDS,R1K,breast_symptom_non_cancer,not_applicable_FDS,Unsuspected_breast_ca,262,255,7
2022-04-01,28-day FDS,R0A,breast_symptom_non_cancer,not_applicable_FDS,Unsuspected_breast_ca,382,144,238
2022-04-01,28-day FDS,R0A,screening,not_applicable_FDS,Invalid,143,67,76
2022-04-01,28-day FDS,R1K,screening,not_applicable_FDS,Suspected_breast_ca,4,2,2
2022-04-01,28-day FDS,R1K,screening,not_applicable_FDS,Suspected_gynecological_ca,35,12,23

The filter functions can also be used on the national dataframe

In [88]:
df_nat_fds.head()

,total,within_standard,breaches,org_code,standard,cancer_type,treatment_modality,stage_or_route
month,,,,,,,,
2021-04-01,211835,154535,57300,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data
2021-05-01,210267,156199,54068,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data
2021-06-01,233181,170194,62987,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data
2021-07-01,222389,164461,57928,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data
2021-08-01,208788,151470,57318,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data

In [89]:
dfs_nat_fds_april_may = select_months(df_nat_fds, '04/2021','05/2021')

In [29]:
dfs_nat_fds_april_may.head()

,total,within_standard,breaches,org_code,standard,cancer_type,treatment_modality,stage_or_route
month,,,,,,,,
2021-04-01,211835,154535,57300,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data
2021-05-01,210267,156199,54068,NAT,28-day FDS,all_national_data,not_applicable_FDS,not_applicable_national_data

,standard,org_code,stage_or_route,treatment_modality,cancer_type,total,within_standard,breaches
month,,,,,,,,
2023-03-01,62-day Combined,RWD,urgent_suspected_cancer,surgery,All_Cancers,83,53,30
2023-03-01,62-day Combined,RWP,urgent_suspected_cancer,surgery,All_Cancers,116,70,46
2023-03-01,62-day Combined,RXN,urgent_suspected_cancer,surgery,All_Cancers,73,27,46
2023-03-01,62-day Combined,RXW,urgent_suspected_cancer,surgery,All_Cancers,103,65,37
2023-03-01,62-day Combined,RY2,urgent_suspected_cancer,surgery,All_Cancers,12,8,4

filter_data() can be used to select patient groups based on multiple filters in the dataframes.

In [103]:
filters = { 'stage_or_route': ['urgent_suspected_cancer', 'screening'],
           'standard': 'FDS',
          'org': ['RWP', 'RXQ','R0A'],
          }
df_provider_filter = filter_data(df_provider, filters)
df_provider_filter.head(10)

,standard,org_code,stage_or_route,treatment_modality,cancer_type,total,within_standard,breaches
month,,,,,,,,
2022-04-01,28-day FDS,R0A,screening,not_applicable_FDS,Invalid,143,67,76
2022-04-01,28-day FDS,RXQ,screening,not_applicable_FDS,Suspected_breast_ca,29,23,6
2022-04-01,28-day FDS,RWP,screening,not_applicable_FDS,Suspected_breast_ca,18,17,1
2022-04-01,28-day FDS,RWP,screening,not_applicable_FDS,Suspected_lower_GI_ca,1,0,1
2022-04-01,28-day FDS,RXQ,screening,not_applicable_FDS,Suspected_lower_GI_ca,2,2,0
2022-04-01,28-day FDS,R0A,urgent_suspected_cancer,not_applicable_FDS,Suspected_breast_ca,1135,361,774
2022-04-01,28-day FDS,RXQ,urgent_suspected_cancer,not_applicable_FDS,Suspected_brain_CNS_ca,2,0,2
2022-04-01,28-day FDS,RWP,urgent_suspected_cancer,not_applicable_FDS,Suspected_breast_ca,225,208,17
2022-04-01,28-day FDS,R0A,urgent_suspected_cancer,not_applicable_FDS,Suspected_children_ca,3,1,2
2022-04-01,28-day FDS,RXQ,urgent_suspected_cancer,not_applicable_FDS,Suspected_breast_ca,380,369,11

# Help functions <a class="anchor" id="section_1_3"></a>

help_with provides more information on the cancer referrals data.

In [105]:
from data_wrangling import help_with

In [106]:
help_with()

Please select which aspect of the data you need help with:
1.) NHS Cancer standards
2.) Types of cancer
3.) NHS Organisation Codes
4.) Stage/Route
5.) Treatment modality
6.) Breaches
7.) Within Standard


Select the number of a topic from above:

1
There are three standards present in this dataset:
 1. The 28-day Faster Diagnosis Standard (FDS).
The standard: People should have cancer ruled out or receive a diagnosis within 28 days
NHS target: 75% of people should meet this standard

 2. 31-day decision to treat to treatment standard (DTT).
The standard: Treatment should begin within a month (31 days)of deciding to treat their cancer.
NHS target: 96% of people should meet this standard

 3.62-day referral to treatment standard
The standard: Treatment should begin withintwo months (62 days) of an urgent referral.
NHS target: 85% of people should meet this standard


 Further info at:  https://news.cancerresearchuk.org/2023/08/17/breaking-down-nhs-englands-changes-in-standards-for-cancer-care/

In [ ]:
name_org_code can be used to provide the org_code of a particular NHS Trust.

In [110]:
from data_wrangling import name_org_code

In [112]:
# need to run in enviroment where have csv file 
name_org_code()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\sc1314\AppData\Local\Temp\ipykernel_22700\3917095206.py", line 1, in <module>
    name_org_code()
  File "C:\Users\sc1314\OneDrive - University of Exeter\Assignment 2\data_wrangling.py", line 712, in name_org_code
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\pandas\io\parsers\readers.py", line 912, in read_csv
    return _read(filepath_or_buffer, kwds)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\pandas\io\parsers\readers.py", line 577, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\pandas\io\parsers\readers.py", line 1407, in __init__
    self._engine = self._make_engine(f, self.engine)
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\pandas\io\parsers\readers.py", line 1661, in _make_engine
    self.handles = get_handle(
                   ^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\pandas\io\common.py", line 859, in get_handle
    handle = open(
             ^^^^^
FileNotFoundError: [Errno 2] No such file or directory: 'data/ods_data/geographic_etr.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "C:\Users\sc1314\AppData\Local\anaconda3\Lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

# Visualisation Tools